<div class=" bg-white p-3">
 <div class="topic mt-3 text-center">
  <h2><%= @t_content.topic.title %></h2>
 </div>


 <div class="title mt-5 border-bottom border-info">
  <h1><%= @t_content.title %></h1>
 </div>

 <div class="point mt-5">
  <p>Important word</p>
  <% @t_content.points.each do |point| %>
   <div class="d-inline border rounded p-2 border-success mr-2">
    <%= point.p %>
   </div>
  <% end %>
 </div>

 <div class="form-group mt-5">
  <P>Experimrnt</p>
  <% @t_content.posts.each do |post| %>
  <ul>
   <li><%= link_to post.title, post_path(post) %></li>
  </ul>
  <% end %>
 </div>





 <div class="TCON p-2 mt-5 border-rounded ">
  <% @t_content.s_contents.each do |content| %>

   <div class="stitle border-bottom mt-5">
     <h2><%= content.stitle %></h2>
   </div>


  <% if content.image_url %>
   <div class="image mt-3">
    <%= image_tag content.image_url(:thumb2) %>
   </div>
  <% end %>
   <div class="content mt-5">
     <p><%= simple_format(content.content) %></p>
   </div>

  <% end %>
 </div>

</div>
