
<div class="container">
<h3 class="mt-5">Topics</h3>
    <% @topics.each do |topic| %>
    <% if topic.id %>
    <div class="accordion" id="accordionExample">
      <div class="card">
       <div class="card-header" id="heading<%= topic.id %>">
         <h2 class="mb-0">
           <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= topic.id %>" aria-expanded="true" aria-controls="collapse<%= topic.id %>">
             <%= topic.title %>
           </button>
           
             <% if logged_in? %>
              
              <div class="text-right">
               
               <%= link_to "Add contents", topic ,class: " btn btn-primary d-inline"%>
               
              </div>
              
              <div class="text-left">
               <%= link_to "Edit", edit_topic_path(topic), class: "btn btn-success d-inline"%>
               <%= link_to "Delete", topic, method: :delete,class: "btn btn-danger d-inline" %>
              </div>
             <% end %>
           
         </h2>
       </div>

       <div id="collapse<%= topic.id %>" class="collapse" aria-labelledby="heading<%= topic.id %>" data-parent="#accordionExample">
         <div class="card-body">
           <% topic.t_contents.each do |content| %>
            <div class="ml-5 border border-rounded p-2">
             <h3><%= link_to content.title, t_content_path(content) %></h3>
             <div class="text-right">
              <%= link_to "Delate", content, method: :delete,class: "btn btn-danger d-inline" %>
             </div>
            
            </div>
           <% end %>
         </div>
       </div>
      </div>
    </div>
    <% end %>
    <% end %>
   
  <% if logged_in? %>
   <%= form_with(model: @topic, local: true) do |f| %>
    <div class="form-group mt-5">
     <%= f.label :title, "Add the title" %>
     <%= f.text_field :title, class: "form-control" %>
     <%= hidden_field_tag :id, @textbook.id%>
    </div>
    <div class="submit ">
     <%= f.submit "Add" ,class:"btn btn-primary"%>
    </div>
   <% end %>
  <% end %>
</div>


