
<div class="container">
<h3 class="mt-5">Topics</h3>
    <% @topics.each do |topic| %>
    <div class="accordion" id="accordionExample">
      <div class="card">
       <div class="card-header" id="heading<%= topic.id %>">
         <h2 class="mb-0">
           <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= topic.id %>" aria-expanded="true" aria-controls="collapse<%= topic.id %>">
             <%= topic.title %>
             <% if logged_in? %>
              <%= link_to "Delete", topic, method: :delete %>
              <%= link_to "Add contents", topic ,class: "text-right btn btn-primary text-right"%>
             <% end %>
           </button>
         </h2>
       </div>

       <div id="collapse<%= topic.id %>" class="collapse" aria-labelledby="heading<%= topic.id %>" data-parent="#accordionExample">
         <div class="card-body">
           Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
         </div>
       </div>
      </div>
    </div>
    <% end %>
   
  <% if logged_in? %>
   <%= form_with(model: @topic, local: true) do |f| %>
    <div class="form-group mt-5">
     <%= f.label :title, "Add the title" %>
     <%= f.text_field :title, class: "form-control" %>
     <%= hidden_field_tag :id, @textbook.id%>
    </div>
    <div class="submit ">
     <%= f.submit "Add" ,class:"btn btn-primary"%>
    </div>
   <% end %>
  <% end %>
</div>


