<div class="container mt-5">
<%= form_with(model: @s_content, local: true) do |f| %>

 <div clss="form-group">
  <%= f.text_field :stitle, class: "form-control",  placeholder: "Write sub topic, ex) Density and volume" %>
 </div>

 <div class="form-group mt-3 image">
  <%= f.label :image, "画像" %>
  <%= f.file_field :image %>
 </div>

 <div class="form-group mt-2">
   <%= f.text_area :content, class: "form-control" ,rows: 10, placeholder: "Write content, ex) Mass of a unit volume of a material substance. " %>
 </div>
 <div class="text-right">
  <%= f.submit "submit", class: "btn btn-primary"%>
 </div>
<% end %>
</div>
