<div class="container ">
  
  <div class="row">
    
  <div class="border border-rounded bg-white col-sm-12 row m-2 p-0 box">
    <div class="col-sm-2 bg-white mt-2">
    <%= link_to textbook_path(1) do %>
    
     <%= image_tag asset_path("Grade8.jpg", alt: "grade8"),class: "text-image" %>
     
    <% end %>
    </div>

    <div class="col-sm-9 mt-3">
    <h4 class="text-info">Progress in Integrated sxience (Zambia): Grade 8</h4>
    <p>This text book contain 5 topics. 
    <br>Topic1 :The human body, 
    <br>Topic2:Health, 
    <br>Topic3:The envitonment, 
    <br>Topic4:Plants and animals, 
    <br>Topic5: Materials and energy.
    </div>
  </div>





  <div class="border border-rounded bg-white col-sm-12 row m-2 p-0 box">
    <div class="col-sm-2 bg-white mt-2">
    <%= link_to textbook_path(2) do %>
      <%= image_tag asset_path("Grade9.jpg", alt: "grade9"),class: "text-image" %>
     
    <% end %>
    </div>

    <div class="col-sm-9 mt-3">
    <h4 class="text-info">Progress in Integrated sxience (Zambia): Grade 9</h4>
    <p>This text book contain 5 topics. 
    <br>Topic1 :The human body, 
    <br>Topic2:Health, 
    <br>Topic3:The envitonment, 
    <br>Topic4:Plants and animals, 
    <br>Topic5: Materials and energy.
    </div>
  </div>
   
  <div class="border border-rounded bg-white col-sm-12 row m-2 p-0 box">
     <div class="col-sm-2 bg-white mt-2">
     <%= link_to textbook_path(3) do %>
      <%= image_tag asset_path("b_grade10.jpg", alt: "grade10"),class: "text-image" %>
    <% end %>
     </div>

    <div class="col-sm-9 mt-3">
    <h4 class="text-info">Progress in Biology (Zambia): Grade 10</h4>
    <p>This text book contain 9 topics. 
    <br>Topic1: Living organisms and life processes, 
    <br>Topic2: Cell structure and organisation, 
    <br>Topic3: Enzymes, 
    <br>Topic4: Nutrients, 
    <br>Topic5: Nutrition in plants,
    <br>Topic6: Saprophytic nutrition,
    <br>Topic7: Nutrition in animals,
    <br>Topic8: Respiration,
    <br>Topic9: Health,
    </div>
  </div>

  <div class="border border-rounded bg-white col-sm-12 row m-2 p-0 box">
     <div class="col-sm-2  bg-white mt-2">
     <%= link_to textbook_path(4) do %>
     
      <%= image_tag asset_path("b_grade11.jpg", alt: "grade11"),class: "text-image" %>
     <% end %>
     </div>

     <div class="col-sm-9 mt-3">
    <h4 class="text-info">Progress in Biology (Zambia): Grade 11</h4>
    <p>This text book contain 10 topics. 
    <br>Topic1 :Transport and storage, 
    <br>Topic2:Transport in man, 
    <br>Topic3:Excretion, 
    <br>Topic4:Homeostasis and osmoregulation, 
    <br>Topic5:Endocrine system,
    <br>Topic6: The nervous system,
    <br>Topic7: The sense organs,
    <br>Topic8: The skeleton and locomotion,
    <br>Topic9: Topic and taxic responses,
    <br>Topic10: Growth and development in plants
    </div>
  </div> 

 </div>
</div>
