<% if logged_in? %>
<div class="row">
  <div class="col-sm-3">
    <div class="card mt-4">
           <div class="card-body">
            <div class="card-heading text-center border-bottom">
             <div class="img mb-2">
              <% if current_user.image_url %>
                 <%= image_tag current_user.image_url(:thumb1), class:" ml-3 rounded-circle" %>
              <% else %>
                  <img src="<%= gravatar_url(current_user, size: 80) %>" alt="" class="img-circle">
              
              <% end %>
             </div>
              <p class="ml-3"><%= current_user.name %></p>

            </div>
            　<p class="card-text">派遣隊次:<%= current_user.year %></p>
              <p class="card-text">派遣国:<%= current_user.country%></p>
            <%= link_to edit_user_path(current_user) do %>
             <p class="text-right"><i class="fas fa-user-edit ml-2"></i>プロフィール編集</p>
            <% end %>

           </div>
      </div>
  </div>
  <div class="col-sm-9">
   <%= render "top" %>
  </div>

    
    
    
    
    
</div>
<% else %>
 <%= render 'top' %>
<% end %>
