<div class="row">
    <div class="col-sm-12">
        <%= form_with(model: @post, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: @post %>
        <%= hidden_field_tag :user_id, current_user.id %>
        

          
          
    <div class="form-group mt-5">
     <p><%= f.label :kind, "Category" %></p>
     <%= f.collection_check_boxes(:kind_ids, Kind.all, :id, :k) do |kind| %>
         <%= kind.label do %>
          <%= kind.check_box %>
          <%= kind.text %>
         <% end %>
     <% end %>
    </div>

    <div class="form-group mt-3 t_content">
     <%= select_tag :t_content_id,
              options_from_collection_for_select(TContent.all, :id, :title, params[:t_content_id]),
              {
                  prompt: "Make relationship with content",
              }
    %>
    
    </div>
          
          
          
          
          
          
          
          
          <div class="form-with mt-2">
              <%= f.label :url, "Movie url (YouTubeの動画共有ボタンを押すと出るURLを貼ってください)" %>
              <%= f.text_field :url, class: "form-control", placeholder: "http://JOCVmovie.com" %>
          </div>
        
          <div class="form-with mt-2">
              <%= f.label :title, "TiTle" %>
              <%= f.text_field :title, class: "form-control", placeholder: "Science experiment" %>
          </div>

          
          <div class="form-with mt-2">
              <%= f.label :ex, "Short explanation" %>
              <%= f.text_field :ex, class: "form-control", placeholder: "This is the movie which explain about scoence experiment" %>
          </div>
          
          <p class="mt-5">Explanation for the video(if you want to write long explanation please push "bilue botton")</p>
          
          

          
          <div class="contents mt-3 text-right">
              <%= f.fields_for :contents do |content| %>
               
                <%= render "posts/content_fields", f: content %>
              <% end %>
         
             <div class="link ">
               <%= link_to_add_association "Write Explanation for video", f, :contents ,class: "btn btn-primary"%>
             </div>
         </div>
         
         <div class="actions mt-5 text-right">
             <%= f.submit "Post", class:"btn btn-outline-danger" %>
         </div>
          
          
        <% end %>
    </div>
</div>

