<div class=" bg-white p-3">
 <div class="topic mt-3 text-center">
  <h2><%= @exam.topic.title %>(Examination)</h2>
 </div>


 <div class="title mt-5 border-bottom border-info">
  <h1><%= @exam.title %></h1>
 </div>


 <div class="TCON p-2 mt-5 border-rounded ">
  <% @exam.sexams.each do |content| %>

   <div class="stitle border-bottom mt-5">
     <h2><%= content.stitle %></h2>
   </div>


  <% if content.image_url %>
   <div class="image mt-3">
    <%= image_tag content.image_url(:thumb2) %>
   </div>
  <% end %>
   <div class="content mt-5">
     <p><%= simple_format(content.content) %></p>
   </div>


  <% end %>
 </div>

</div>
<% unless @exam.answer %>
<% if logged_in? %>
<div class="answer">
 <div class="form-group">
  <%= form_with(model: @answer, local: true) do |f| %>
   <div class="form-group">
    <%= f.label :a, "Write answer" %>
    <%= f.text_area :a, class: "form-control", rows: 10 , placeholder: "Write the answer" %>
    <%= hidden_field_tag :exam_id, @exam.id %>
   </div>
   <div class="text-right">
    <%= f.submit "submit", class: "btn bnt-danger"%>
   </div>
  <% end %>
 </div>
</div>
<% end %>
<% else %>
<div class="text-right mt-3">
 <%= link_to "See the answer", answer_path(@exam.answer) ,class: "btn btn-success"%>
</div>
<% end %>
