
<nav class="navbar navbar-expand-lg navbar-white bg-dark">
<a class="navbar-brand text-white ml-5" href="/">Science Education</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<% if logged_in? %>
<div class="collapse navbar-collapse " id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto ">
    <li class="nav-item ">
      <%= link_to "post",  new_post_path, class:"nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "User",  users_path, class:"nav-link text-white" %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <div class="dropdown-divider"></div>
        
        <%= link_to "Logout", logout_path, method: :delete ,class:"dropdown-item" %>
      </div>
    </li>
  </ul>
</div>
<% else %>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to "Signup", signup_path ,class: "nav-link text-white"%>
    </li>
    <li class="nav-item">
      <%= link_to "Login", login_path,class: "nav-link text-white" %>
    </li>
   </ul>
</div>
<% end %>
</nav>